In [3]:
pip install textblob

Requirement already satisfied: textblob in c:\users\user\anaconda3\lib\site-packages (0.18.0.post0)
Requirement already satisfied: nltk>=3.8 in c:\users\user\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: joblib in c:\users\user\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\user\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (2022.7.9)
Requirement already satisfied: click in c:\users\user\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (8.0.4)
Requirement already satisfied: tqdm in c:\users\user\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (4.64.1)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from click->nltk>=3.8->textblob) (0.4.5)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
df=pd.read_csv(r"C:\Users\USER\Downloads\archive\twitter_dataset.csv")

In [5]:
df.head()

,Tweet_ID,Username,Text,Retweets,Likes,Timestamp
0,1,julie81,Party least receive say or single. Prevent pre...,2,25,2023-01-30 11:00:51
1,2,richardhester,Hotel still Congress may member staff. Media d...,35,29,2023-01-02 22:45:58
2,3,williamsjoseph,Nice be her debate industry that year. Film wh...,51,25,2023-01-18 11:25:19
3,4,danielsmary,Laugh explain situation career occur serious. ...,37,18,2023-04-10 22:06:29
4,5,carlwarren,Involve sense former often approach government...,27,80,2023-01-24 07:12:21

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Tweet_ID   10000 non-null  int64
 1   Username   10000 non-null  object
 2   Text       10000 non-null  object
 3   Retweets   10000 non-null  int64
 4   Likes      10000 non-null  int64
 5   Timestamp  10000 non-null  object
dtypes: int64(3), object(3)
memory usage: 468.9+ KB

In [8]:
df.shape

(10000, 6)

In [11]:
sampled_df = df.sample(n=20)

In [17]:
df.columns

Index(['Tweet_ID', 'Username', 'Text', 'Retweets', 'Likes', 'Timestamp'], dtype='object')

In [22]:
import numpy as np

# Perform sentiment analysis
def analyze_sentiment(text):
    blob = TextBlob(str(text))  # Convert to string to handle any non-string inputs
    polarity = blob.sentiment.polarity
    if polarity > 0:
        return 'Positive'
    elif polarity < 0:
        return 'Negative'
    else:
        return 'Neutral'

# Apply sentiment analysis
df['Sentiment'] = df['Text'].apply(analyze_sentiment)
df['Polarity'] = df['Text'].apply(lambda x: TextBlob(str(x)).sentiment.polarity)

# Calculate summary statistics
sentiment_distribution = df['Sentiment'].value_counts()
overall_sentiment_score = df['Polarity'].mean()

# Display results
print("Sample of tweets with sentiment:")
print(df[['Text', 'Sentiment', 'Polarity']].head())
print("\
Sentiment Distribution:")
print(sentiment_distribution)
print("\
Overall Sentiment Score:", overall_sentiment_score)

# Calculate percentage distribution
sentiment_percentages = (sentiment_distribution / len(df) * 100).round(2)
print("\
Sentiment Distribution (%):")
print(sentiment_percentages)

Sample of tweets with sentiment:
                                                Text Sentiment  Polarity
0  Party least receive say or single. Prevent pre...  Positive  0.115714
1  Hotel still Congress may member staff. Media d...  Positive  0.308333
2  Nice be her debate industry that year. Film wh...  Positive  0.220000
3  Laugh explain situation career occur serious. ...  Positive  0.054762
4  Involve sense former often approach government...  Positive  0.033333
Sentiment Distribution:
Positive    7732
Negative    2066
Neutral      202
Name: Sentiment, dtype: int64
Overall Sentiment Score: 0.09519203783231393
Sentiment Distribution (%):
Positive    77.32
Negative    20.66
Neutral      2.02
Name: Sentiment, dtype: float64